*{
    margin: 0%;
    padding: 0%;
   
}
header{
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: space-around;
}
.logo{
    width: 100px;
}
.logo img{
    width: 100%;
}
.nav-links{
    display: flex;
    text-decoration: none;
    gap: 20px;
}
.nav-links li a{
    color: white;
    text-decoration: none;
    
}

.right{
    display: flex;
    align-items: center;
    gap: 100px;
}
.btn{
    align-items: center;
    display: flex;
   gap: 30px;
   justify-content: space-around;
}

.btn button{
    outline: none;
    border: none;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 5px;
}

#order{
    background-color: red ;
    
}
.red{
    color: red !important;
    background-color: white;
   
    padding: 10px;
     border-radius:  50px;
}