* {
    margin: 0%;
    padding: 0%;
    flex-wrap: wrap;
    box-sizing: border-box;

}

@font-face {
    font-family: "futura";
    src: url(./images/font/Futura.ttf);
}
@font-face {
    font-family: "apercu";
    src: url(./images/Apercu-Font\ \(2\).zip);
}


header {
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: space-around;
}

.logo {
    width: 100px;
}

.logo img {
    width: 100%;
}

.nav-links {
    display: flex;
    text-decoration: none;
    gap: 20px;
}

.nav-links li a {
    color: white;
    text-decoration: none;

}

.right {
    display: flex;
    align-items: center;
    gap: 100px;
}

.btn {
    align-items: center;
    display: flex;
    gap: 30px;
    justify-content: space-around;
}

.btn button {
    outline: none;
    border: none;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    padding: 10px 50px;
    border-radius: 10px;
}

#order {
    background-color: red;

}
.icon i {
    border-radius: 50%;
    padding: 12px;
}

.red {
    color: red !important;
    background-color: white;

    padding: 10px;
    border-radius: 10px;
}

.banner {
    width: 100%;
}

.banner .d-block {
    width: 100%;
}

.brend {
    background-color: black;
    width: 100%;
    color: white;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.brend .content {
    text-align: center;
}

.container {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 20px;
}

.box1 {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}


.box1 img {
    width: 100%;
    background-color: white;


}


span {

    font-family: 'futurak';
    font-style: normal;
    font-weight: 400;
    /* font-size: 52px; */
    line-height: 62px;
    color: #FFFFFF;
}



.btn1 {

    outline: none;
    border: none;
    background-color: transparent;
    padding: 20px 20px;

    border: 1px solid white;
    border-radius: 10px;

}


.ferenchise {
    width: 100%;
    background-color: black;

}

.franchise .contents h1 p {
    color: white;

}

.ferenchise {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    width: 100%;
    background-color: rgb(22, 21, 21);
    color: white;
}

.contents {
    text-align: center;
}

#isl {
    color: red;


}

.isb {
    display: flex;
    align-items: center;
    gap: 100px;
}

.imagee {
    padding-left: 100px;
    display: flex;

}



.direction-btn {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    padding: 14px 28px;
    color: #ffffff;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 50px;
    background-color: black;
    
}

#fsla {
    color: red;
    
}


#bhl {
    color: red;
}

.fasla {
    display: flex;
    align-items: center;
    /* gap: 100px; */
}

.imagee {
    padding-left: 100px;
    display: flex;

}

.franchises_second_section {
    text-align: center;
}



.isb {
    display: flex;
}
/* 2 ferenchse */
.secondferenchise{

   display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    width: 100%;
    background-color: rgb(22, 21, 21);
    color: white
    }
#ser{
    color: red;
}
.city{
    display: inline-flex;
    align-items: center;
    gap: 12px;
    padding: 14px 28px;
    color: white;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 50px;
    background-color: black;
}
.ferenchise {
    width: 100%;
    background-color: black;
}
.secondferenchise .heading h1 p{
color: white;
}

 
  /* {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    width: 100%;
    background-color: rgb(22, 21, 21);
    color: white;
}
.heading {
    text-align: center;
}


} */
 .row{
    display: flex;
    gap: 30px;
    background-color: black;
    color: white;
    justify-content:center ;
 }
 .imgsize{
    width: 1000px;
 }
 .lah img{
    width: 400px;

 }
 .ghu img{
    width: 300px;

 }
 .sahi img{
    width: 400px;


 }
 .rat{
    gap: 30px#;
 }
 #vill{
    text-align: center;
    background-color: black;
    color: white;
    font-size: larger;
 }
 .village{
    background-color: black;
    color: white;
         
 }
 #red{
    color: red;
 }
 .green{
    background-color: green;
    display: inline-flex;
    align-items: center;
    gap: 12px;
    padding: 14px 28px;
    color: white;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 50px;
   
 }
 /* h1{
    text-align: center;
    background-color: black;
 }
  */
  .exprsslocation{
     background-color: black;
    color: white;
  }
   

 .loccontain{
    text-align: center;
    text-align: center;
    margin-bottom: 8px;
    
    font-style: normal;
    font-size: 20px;
    line-height: 60px;
    color: #FFFFFF;
    margin-bottom: 8px;
 }
  
 .card1{
    height: 230px;
    background: #FFFFFF;
    border-radius: 4px;
    text-align: center;
    padding: 25px 24px;
    margin: auto;
    margin-bottom: 32px;
    color: black;
    max-width: 350px; 
     gap: 20px;
 
 }
 .card2{
    height: 230px;
    background: #FFFFFF;
    border-radius: 4px;
    text-align: center;
    padding: 25px 24px;
    margin: auto;
    margin-bottom: 32px;
    color: black;
    max-width: 350px; 
     gap: 20px;
 }
 .card3{
    height: 230px;
    background: #FFFFFF;
    border-radius: 4px;
    text-align: center;
    padding: 25px 24px;
    margin: auto;
    margin-bottom: 32px;
    color: black;
    max-width: 350px; 
     gap: 20px;
 }
 .card4{
    height: 230px;
    background: #FFFFFF;
    border-radius: 4px;
    text-align: center;
    padding: 25px 24px;
    margin: auto;
    margin-bottom: 32px;
    color: black;
    max-width: 350px; 
     gap: 20px;
 }
 .card5{
    height: 230px;
    background: #FFFFFF;
    border-radius: 4px;
    text-align: center;
    padding: 25px 24px;
    margin: auto;
    margin-bottom: 32px;
    color: black;
    max-width: 350px;
     gap: 20px; 
 }
 .card6{
    height: 230px;
    background: #FFFFFF;
    border-radius: 4px;
    text-align: center;
    padding: 25px 24px;
    margin: auto;
    margin-bottom: 32px;
    color: black;
    max-width: 350px; 
    gap: 20px;
 }
 #cr{
color: red;
 }
 .loactionerrer{
    display: flex;
    
 }
 footer{
    background-color: black;
    color: white;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 20px;
 }
 .pic {
    width: 100px;
}

.pic img {
    width: 100%;
}
.child{
    width: 15%;
}
 .firstchild{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: apercu;
 }
 .secondchild{
    color: white;
    text-decoration: none;
    flex-direction: column;
    justify-content: flex-start;

 }
 .secondchild p{
    text-decoration: none;
 }
 .foot{
    display: flex;
    flex-direction: column;
    gap: 20px;
 }
 .foot li{
    list-style: none;
    
 }
 .foot li a{
    text-decoration: none;
    color: white;
   
 }
 .childfif{
     display: flex;
    flex-direction: column;
    gap: 10px;
 }
 .childsix{
display: flex;
    flex-direction: column;
    gap: 20px;
 }
 .socialicon i{
    width: 40px;
    height: 40px;
    background-color: red;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
 }
 .socialicon {
    display: flex;
 }


    
 
   

